.logo {
    float:left;
    height: 64px;
    width: 256px;
    a {
        display: block;

        img {
            margin: 8px;
            height: 48px;
            display: inline-block;
            vertical-align: middle;
        }
    
        h1 {
            font-weight: normal;
            font-size: 24px;
            padding: 8px 0;
            line-height: 48px;
            display: inline-block;
            vertical-align: middle;
            color: #fff;
            margin: 0;
        }
    
        &:hover {
            color: #f00;
        }
    }
}

.sider {
    z-index: 9;
    overflow: hidden;
    overflow-y: auto;
    position: fixed;
    height: 100vh;
    box-shadow: 0 0 8px rgba(#000, 0.5);
}

.subMenu {
    background: #fff;
}

:global(.ant-layout-sider-collapsed) {
    .logo {
        h1 {
            display: none;
        }

        img {
            margin: 8px 16px;
        }
    }
}